:root {
  --ourBlue: #0745ff;
  --ourYellow: #ffc107;
  --ourRed: #ff4507;
  --accentBlue: #07c1ff;
}
html{
  font-size:18px;
}
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("/img/10th.jpg") url("./img/10thn11th.jpg")
    url("./img/12th.webp") url("./img/4th.webp") url("./img/tardis.png");
}
body {
  text-align: center;
  margin: 0;
  background-color: #071013;
  font-family: serif;
}
.nav-link {
  position: relative;
  top: 0.4rem;
  transition: all 0.12s ease-out;
  letter-spacing: 0.0555rem;
  color: #775b59;
}
.nav-link:hover {
  transform: scale(1.1);
  opacity: 0.8;
  transition: all 0.25s ease-out;
  color: #775b59;
}

#color {
  width: 100%;
  flex-grow: 1;
}
.transit {
  transition: all 0.5s;
}
.content {
  height: 100%;
}
#img {
  background-size: 100% 100%;
  flex-grow: 1;
  display: flex;
}

#container {
  width: 50%;
  max-width: 500px;
  box-shadow: 0px 0px 0px 0px;
}

.level-title {
  display: inline-block;
  font-size: 7rem;
  font-weight: 700;
  margin: 5%;
  letter-spacing: 0.277rem;
  color: #3536e6;
  -webkit-text-stroke: 0.0555rem #bbe6e4;
}
#high-score {
  transform: translateY(-2rem);
  color: burlywood;
  font-weight: 600;
}
#tap {
  background-color: #3536e6;
  border: 0;
  border-radius: 0.555rem;
  box-shadow: inset 0 0 0.555rem #000000;
  color: #fbfef9;
  font-weight: 700;
}
.row {
  margin-bottom: 10%;
}

.button {
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 0.555rem solid black;
  border-radius: 20%;
  transition: all 0.4s;
}
.button-close {
  position: absolute;
  left: 1.07rem;
  top: -1.65rem;
  font-size: 1.5rem;
  color: var(--ourRed);
}
.hidden {
  opacity: 0;
}
.one {
  background-image: url("img/4th.webp");
}
.two {
  background-image: url("img/10th.jpg");
}
.three {
  background-image: url("img/10thn11th.jpg");
}
.four {
  background-image: url("img/12th.webp");
}
.button:hover {
  opacity: 0.8;
}
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  border-radius: 12%;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1.111rem 0.2777rem white;
  background-image: url("./img/tardis.png");
  background-size: 100%;
}

.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #fbfef9;

  box-shadow: inset 0 0 0.555rem #000000;
}
.navbar-brand {
  font-size: 3rem !important;
  margin-top: -0.9rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Gallifrey {
  color: #3536e6;
  letter-spacing: 0.1666rem;
  transition: all 0.12s ease-out;
  font-weight: 700;
  display: inline-block;
}
.Gallifrey:hover {
  transform: scale(1.1);
  opacity: 0.8;
  transition: all 0.25s ease-out;
}
.instagram,
.linkedin {
  background-color: #3536e6;
  color: #fbfef9;
  letter-spacing: 0.0555rem;
  font-family: sans-serif;
}
.instagram {
  border: 0.111rem solid #3536e6;
}
.instagram:hover,
.linkedin:hover {
  color: #000;
}
.puttoend {
  top: 100% !important;
  transform: rotate(180deg);
}
.lvl {
  transform: scale(1.3);
  transition: all 1s;
  text-shadow: 0.222rem 0.111rem 0.111rem var(--bs-gray-900) !important;
}

.nav-icon {
  margin-top: -0.555rem;
  height: 3.333rem;
  transition: transform 0.12s ease-out;
  border-radius: 100%;
}
.nav-icon:hover {
  transform: scale(1.2);
  transition: transform 0.25s ease-out;
}
footer {
  background-color: #775b59;
  letter-spacing: 0.0555rem;
}
footer p {
  color: #fbfef9;
  font-size: 1.2rem;
}
#tap {
  max-width: 275px;
}
#tap:hover {
  opacity: 0.8;
}
.navbar-toggler {
  display: flex;
  box-shadow: inset 0 0 0.222rem #000000;
}
.modal-header {
  border: 0.0555rem solid var(--ourYellow);
  background-color: var(--ourYellow);
  border-top-left-radius: 4.444rem;
  border-top-right-radius: 0.78rem;
}
.modal-content {
  background-color: var(--ourYellow);
  border-top-left-radius: 4.444rem;
  border-top-right-radius: 2rem;
}
.modal-title {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  color: green;
}

.modal-body {
  background-color: var(--ourBlue);
  color: #bbe6e4;
  font-size: larger;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
.navbar-brand {
  margin-bottom: -0.8rem;
}

@media screen and (max-width: 872px) {
  .level-title {
    font-size: 5rem;
  }
  #container {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  #tap {
    padding: 0.5rem;
  }
  #img {
    background-size: cover;
    background-position: center;
  }
  .navbar-toggler img {
    width: 30px;
    height: 30px;
  }
  .navbar {
    padding-bottom: 0;
  }
  .navbar-brand {
    margin-bottom: 0.1rem;
  }
  .nav-link {
    transform: translateY(0);
  }
}

@media screen and (max-width: 643px) {
  .level-title {
    font-size: 4rem;
    text-shadow: 4px 2px #000;
    letter-spacing: 3px;
  }
  .content {
    margin-top: 1.5rem;
  }
  .navbar-toggler {
    position: absolute;
    z-index: 100;
    top: 85%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .press {
    display: none;
  }
  .navbar-brand {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .button {
    width: 150px;
    height: 150px;
  }
  #container {
    width: 60%;
  }
  .nav-link {
    transform: translateY(-0.3rem);
  }
}
@media screen and (max-width: 530px) {
  .level-title {
    margin-bottom: 4rem;
  }
  .row {
    --bs-gutter-x: 4rem;
  }

  .wrapper {
    margin-bottom: -2rem;
  }
  .button {
    width: 100px;
    height: 100px;
  }
  .row {
    --bs-gutter-x: 0;
    margin: auto;
  }
  footer {
    margin-top: 2rem;
  }
  .navbar-toggler {
    box-sizing: content-box;
  }
  .navbar-toggler,
  .navbar-toggler img {
    width: 20px;
    height: 20px;
  }
  .navbar-toggler * {
    position: relative;
  }
}
