:root {
  --ourColor: #0745ff;
  --transparentColor: rgb(7, 69, 255, 0.3);
  --transparentRed: rgb(236, 0, 0, 0.6);
}
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("/img/10th.jpg") url("./img/10thn11th.jpg")
    url("./img/12th.webp") url("./img/4th.webp") url("./img/tardis.jpg");
}
body {
  text-align: center;
  margin: 0;
  background-color: var(--ourColor);
}

.color {
  width: 100%;
  flex-grow: 1;
}
.transit {
  transition: all 0.5s;
}
.content {
  height: 100%;
}
.img {
  background-size: 100% 100%;
  flex-grow: 1;
  display: flex;
}
.pure {
  background-color: var(--ourColor);
}
.impure {
  background-color: var(--transparentColor);
}
.container {
  width: 50%;
  max-width: 500px;
}
#level-title {
  display: inline-block;
  font-family: "PT Sans";
  text-shadow: 0.6rem 0.3rem #000;
  font-size: 7rem;
  font-weight: 700;
  margin: 5%;
  color: #07c1ff;
  letter-spacing: 5px;
}
.row {
  margin-bottom: 10%;
}

.btnn {
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
.hidden {
  opacity: 0;
}
.one {
  background-image: url("img/4th.webp");
}
.two {
  background-image: url("img/10th.jpg");
}
.three {
  background-image: url("img/10thn11th.jpg");
}
.four {
  background-image: url("img/12th.webp");
}
.btnn:hover {
  opacity: 0.8;
}
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  border-radius: 12%;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px 5px white;
  background-image: url("./img/tardis.jpg");
  background-size: 100%;
}

.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem !important;
  margin-top: -0.9rem;
  margin-bottom: -1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Gallifrey {
  animation: color-change ease-in-out 2.5s infinite;
  color: #ff4507;
}
.instagram,
.linkedin {
  background-color: #ffc107;
}
.instagram:hover {
  color: white;
}
.puttoend {
  top: 100% !important;
  transform: rotate(180deg);
}
@keyframes color-change {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.nav-link * {
  margin-bottom: -0.1rem;
}
.nav-icon {
  margin-top: -10px;
  height: 60px;
}

footer {
  font-family: "Montserrat";
}
.tap {
  max-width: 275px;
}
.tap:hover {
  box-shadow: 0 0 4px 4px white;
}
@media screen and (max-width: 872px) {
  #level-title {
    font-size: 5rem;
  }
  .container {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .tap {
    padding: 0.5rem;
  }
  .img {
    background-size: cover;
    background-position: center;
  }
  .navbar-toggler span {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 643px) {
  #level-title {
    font-size: 4rem;
    text-shadow: 4px 2px #000;
    letter-spacing: 3px;
  }
  .navbar-toggler {
    position: absolute;
    top: 85%;
  }
  .press {
    display: none;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
  }
  .navbar-brand {
    margin-bottom: 4px;
  }
  .btnn {
    width: 150px;
    height: 150px;
  }
  .container {
    width: 60%;
  }
  .img {
    padding-top: 1.5rem;
  }
}
@media screen and (max-width: 530px) {
  #level-title {
    margin-bottom: 4rem;
  }
  .row {
    --bs-gutter-x: 4rem;
  }
  .wrapper {
    margin-bottom: -2rem;
  }
  .btnn {
    width: 100px;
    height: 100px;
  }
  .row {
    --bs-gutter-x: 0;
    margin: auto;
  }
  footer {
    margin-top: 2rem;
  }
  .navbar-toggler {
    box-sizing: content-box;
  }
  .navbar-toggler,
  .navbar-toggler * {
    width: 20px;
    height: 20px;
  }
  .navbar-toggler * {
    position: relative;
    top: -1.5px;
    left: -2px;
  }
}
